<div class="bg-dark">
    <div class="container py-2 ">
        <footer class="d-flex flex-wrap justify-content-between align-items-center p-5 border-top">
          <div class="col-md-4 d-flex align-items-center">
            
            <span class="mb-3 mb-md-0 text-light">© 2023 BaranÇiçek, 😌😌😌</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <a href="https://www.instagram.com/bilgeinart/" class="btn" target="_blank"><i class="fa-brands fa-instagram text-light iconsFooter"></i></a>
          <a href="" class="btn" target="_blank"><i class="fa-brands fa-twitter text-light iconsFooter"></i></a>
          
          </ul>
        </footer>
      </div>
</div>